*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;

}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
#container{
	width: 100%;
	margin: 0 auto;
}
/*页面的头部样式 -- 开始*/
#headerTop{
	width: 100%;
	height: 26px;
	padding: 16px 0px;
	background-color: #e9a820;
}
#headerTop .headerTop_main{
	width: 1140px;
	height: 26px;
	margin: 0 auto;
	position: relative;
}
/*头顶部的导航栏 -- 左边*/
#headerTop .headerTop_main .top_nav_left{
	width: 380px;
	height: 26px;
	/*float: left;*/
	position: absolute;
	/*left: 0px;*/
	left: -1000px;
}

#headerTop .headerTop_main .top_nav_left ul{
	width: 380px;
	height: 26px;
}
.top_nav_left ul li h5{
	color: #FFF;
	font-size: 15px;
	font-family: inherit;
}
.top_nav_left ul li{
	margin-right: 19px;
	float: left;
}
.top_nav_left ul li a span{
	background: url("./images/top-social.png") no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
}
.top_nav_left ul li a .fb{
	background-position: 7px 0px;
}
.top_nav_left ul li a .fb:hover{
	background-position: 7px -18px;
	transition: all .4s;
}
.top_nav_left ul li a .tw{
	background-position: -22px 1px;
}
.top_nav_left ul li a .tw:hover{
	background-position: -22px -18px;
	transition: all .4s;
}
.top_nav_left ul li a .in{
	background-position: -53px 0px;
}
.top_nav_left ul li a .in:hover{
	background-position: -53px -18px;
	transition: all .4s;
}
.top_nav_left ul li a .gmail{
	background-position: -82px 0px;
}
.top_nav_left ul li a .gmail:hover{
	background-position: -82px -18px;
	transition: all .4s;
}








/*头顶部的导航栏 -- 右边*/
#headerTop .headerTop_main .top_nav_right{
	width: 760px;
	height: 23px;
	/*float: left;*/
	position: absolute;
	/*right: 0px;*/
	right: -1000px;
}
#headerTop .headerTop_main .top_nav_right ul{
	width: 760px;
	height: 23px;
}
.top_nav_right ul li{
	margin-right: 19px;
	float: right;
}
.top_nav_right ul li .phone{
	background: url("./images/ph.png") no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: sub;
}
.top_nav_right ul li h6{
	font-size: 15px;
	line-height: 23px;
	font-family: inherit;
	color: #FFF;
	display: inline-block;
}

.top_nav_right ul li .email{
	background: url("./images/email.png") no-repeat;
	width: 30px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.top_nav_right ul li h6 a{
	color: #FFF;
}
.top_nav_right ul li h6 a:hover{
	color: #000;
}
/*头底部的导航栏*/
#headerBottom{
	width: 100%;
	height: 72px;
	background: #FFF;
	border-bottom: 1px solid #6F6F8C;
}
#headerBottom .headerBot{
	width: 100%;
	height: 24px;
	padding: 24px 0px;
}
#headerBottom .headerBot .headerBot_main{
	width: 1140px;
	height: 24px;
	padding: 0px 15px;
	margin: 0 auto;
}

/*头底部的导航栏 -- 左边logo*/
.headerBot_main_left a img{
	display: block;
	float: left;
	animation:move 3s linear .2s;
}
@-webkit-keyframes move{
	0%{transform:translateX(-1015px);}
	100%{transform:translateX(-15px);}
}

/*头底部的导航栏 -- 右边nav*/
.headerBot_main_right ul{
	float: right;
}
.headerBot_main_right ul li{
	float: left;
}
.headerBot_main_right ul li a{
	display: inline-block;
	margin: 0px 15px;
	font-size: 14px;
	color: #000;
	font-family: 'Microsoft Yahei';
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);

}
/*让最后一个一开始默认颜色*/
.headerBot_main_right ul li:last-child a{
	color: #E9A820;
}
.headerBot_main_right ul li a::before{
	color: #E9A820;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,225,225,0.3);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transition: transform 0.3s, opacity 0.3s;	
}
.headerBot_main_right ul li a:hover::before{
	opacity: 1;
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
}

/*页面的主体内容样式 第一部分*/
#content_top{
	width: 100%;
	min-height: 397px;
	padding: 80px 0px;
}
#content_top .top_box{
	width: 1140px;
	height: auto;
	padding: 0px 15px;
	margin: 0 auto;
}
.top_box .top_header{
	width: 1140px;
	height: auto;
	margin-bottom: 64px;
	text-align: center;

}
.top_box .top_header h2{
	color: #6F6F8C;
	font-family: 'Aladin', cursive;
	font-size: 48px;
	line-height: 52px;
	margin-bottom: 9px;
}

.top_box .top_inf{
	width: 1140px;
	height: 272px;
	
}
.top_inf .top_inf_left{
	width: 855px;
	height: 272px;
	float: left;
}
.top_inf .top_inf_left form input{
	outline: none;
}

.top_inf .top_inf_left form .text{
	width: 46%;
	font-size: 16px;
	border: 1px solid #999;
	padding: 11px;
}
.top_inf .top_inf_left form .name{
	margin-right: 14px;
}
.top_inf .top_inf_left form .mess{
	font-size: 16px;
	padding: 11px;
	border: 1px solid #999;
	width: 97%;
	height: 135px;
	margin-top: 16px;
	outline: none;
}
.top_inf .top_inf_left form .submit{
	font-size: 16px;
	padding: 7px 24px;
	color: #FFF;
	background: #F5AF33;
	border: none;
	margin-top: 10px;
	transition: all .5s;
	cursor: pointer;
}
.top_inf .top_inf_left form .submit:hover{
	background: #6F6F8C;
}

.top_inf .top_inf_right{
	width: 255px;
	height: 176px;
	padding: 0px 15px;
	float: left;
}
.top_inf_right h1{
	color: #F5AF33;
	font-size: 38px;
	line-height: 44px;
	font-family: 'Aladin', cursive;
	margin-bottom: 20px;
}
.top_inf_right p{
	color: #737373;
	font-size: 16px;
	line-height: 26px;
}
.top_inf_right p a{
	color: #737373;
	transition: all .5s;
}
.top_inf_right p a:hover{
	color: #F5AF33;
}

/*页面的主体内容样式 第二部分*/
#content_bottom{
	width: 100%;
	height: 307px;
	padding-bottom: 80px;
}
#content_bottom .bottom_box{
	width: 1140px;
	height: 307px;
	padding: 0 15px;
	margin: 0 auto;
	background: #888;
}
.bottom_box img{
	width: 100%;
	height: 100%;
}
/*页面的脚部样式 -- 开始*/

#footer{
	width: 100%;
	height: 204px;
	padding: 80px 0px;
	background: #6F6F8C;
}
#footer .footer_box{
	width: 1140px;
	height: 204px;
	padding: 0px 15px;
	margin: 0 auto;
	
}
#footer .footer_box .footer_inf{
	width: 1140px;
	height: 204px;

}
.footer_box .footer_inf .inf_box{
	width: 255px;
	height: auto;
	padding: 0px 15px;
	float: left;
	opacity: 0;
	transform: scale(.3);
	transition: all .7s ease 0s;
}
.inf_box .inf_box_logo{
	margin-bottom: 20px;
}
.inf_box p{
	color: #FFF;
	font-size: 15px;
	font-family: 'Microsoft Yahei';
	line-height: 26px;
}
.inf_box a{
	font-size: 15px;
	line-height: 26px;
	color: #E9A820;
	transition: all .4s;
}
.inf_box a:hover{
	color: #000;
}
.inf_box h3{
	width: 255px;
	height: 44px;
	line-height: 44px;
	margin-bottom: 20px;
	color: #e9a820;
	font-size: 44px;
	font-family: 'Aladin', cursive;

}
.inf_box form{
	width: 255px;
	height: 39px;
}
.inf_box form input:first-child{
	width: 151px;
	height: 28px;
	outline: none;
	padding: 5px 9px;
}
.inf_box form input:nth-child(2){
	color: #FFF;
	border: none;
	font-size: 16px;
	background: #e9a820;
	padding: 12px 20px;
	transition: all .5s;
	cursor: pointer;
}
.inf_box form input:nth-child(2):hover{
	background: #000;
}
.inf_box ul{
	width: 255px;
	height: 34px;
	margin-top: 16px;
}
.inf_box ul li{
	margin-right: 15px;
	float: left;
}
.inf_box ul li a span{
	background: url("./images/ftr-social.png") no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
}
.inf_box ul li a span:hover{
	opacity: .8;
}
.inf_box ul li a .fa{
	background-position: 10px 0px;
}
.inf_box ul li a .tw{
	background-position: -44px 1px;
}
.inf_box ul li a .link{
	background-position: -101px 0px;
}
.inf_box ul li a .gmail{
	background-position: -153px 0px;
}

.inf_box .nav{
	width: 255px;
	height: 140px;
}
.inf_box .nav li{
	width: 100%;
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.inf_box .nav li a{
	font-size: 16px;
	color: #FFF;
	transition: all .4s;
}
.inf_box .nav li a:hover{
	color: #e9a820;
}

/*页面的脚部 页脚样式 -- 开始*/
#footer_page{
	width: 100%;
	height: 22px;
	padding: 24px 0px;
	background: #e9a820;
	text-align: center;
}
#footer_page p{
	width: 1140px;
	height: 22px;
	line-height: 22px;
	margin: 0 auto;
	font-size: 16px;
	color: #FFF;
	opacity: 0;
	transform: scale(.3);
	transition: all .7s ease 0s;
}
#footer_page p a{
	color: #FFF;
	transition: all .3s;
}
#footer_page p a:hover{
	color: #6F6F8C;
}





