*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;

}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
#container{
	width: 100%;
	margin: 0 auto;
}
/*页面的头部样式 -- 开始*/
#headerTop{
	width: 100%;
	height: 26px;
	padding: 16px 0px;
	background-color: #e9a820;
}
#headerTop .headerTop_main{
	width: 1140px;
	height: 26px;
	margin: 0 auto;
	position: relative;
}
/*头顶部的导航栏 -- 左边*/
#headerTop .headerTop_main .top_nav_left{
	width: 380px;
	height: 26px;
	/*float: left;*/
	position: absolute;
	/*left: 0px;*/
	left: -1000px;
}

#headerTop .headerTop_main .top_nav_left ul{
	width: 380px;
	height: 26px;
}
.top_nav_left ul li h5{
	color: #FFF;
	font-size: 15px;
	font-family: inherit;
}
.top_nav_left ul li{
	margin-right: 19px;
	float: left;
}
.top_nav_left ul li a span{
	background: url("./images/top-social.png") no-repeat;
	width: 18px;
	height: 18px;
	display: inline-block;
}
.top_nav_left ul li a .fb{
	background-position: 7px 0px;
}
.top_nav_left ul li a .fb:hover{
	background-position: 7px -18px;
	transition: all .4s;
}
.top_nav_left ul li a .tw{
	background-position: -22px 1px;
}
.top_nav_left ul li a .tw:hover{
	background-position: -22px -18px;
	transition: all .4s;
}
.top_nav_left ul li a .in{
	background-position: -53px 0px;
}
.top_nav_left ul li a .in:hover{
	background-position: -53px -18px;
	transition: all .4s;
}
.top_nav_left ul li a .gmail{
	background-position: -82px 0px;
}
.top_nav_left ul li a .gmail:hover{
	background-position: -82px -18px;
	transition: all .4s;
}








/*头顶部的导航栏 -- 右边*/
#headerTop .headerTop_main .top_nav_right{
	width: 760px;
	height: 23px;
	/*float: left;*/
	position: absolute;
	/*right: 0px;*/
	right: -1000px;
}
#headerTop .headerTop_main .top_nav_right ul{
	width: 760px;
	height: 23px;
}
.top_nav_right ul li{
	margin-right: 19px;
	float: right;
}
.top_nav_right ul li .phone{
	background: url("./images/ph.png") no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: sub;
}
.top_nav_right ul li h6{
	font-size: 15px;
	line-height: 23px;
	font-family: inherit;
	color: #FFF;
	display: inline-block;
}

.top_nav_right ul li .email{
	background: url("./images/email.png") no-repeat;
	width: 30px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.top_nav_right ul li h6 a{
	color: #FFF;
}
.top_nav_right ul li h6 a:hover{
	color: #000;
}
/*头底部的导航栏*/
#headerBottom{
	width: 100%;
	height: 72px;
	background: #FFF;
	border-bottom: 1px solid #6F6F8C;
}
#headerBottom .headerBot{
	width: 100%;
	height: 24px;
	padding: 24px 0px;
}
#headerBottom .headerBot .headerBot_main{
	width: 1140px;
	height: 24px;
	padding: 0px 15px;
	margin: 0 auto;
}

/*头底部的导航栏 -- 左边logo*/
.headerBot_main_left a img{
	display: block;
	float: left;
	animation:move 3s linear .2s;
}
@-webkit-keyframes move{
	0%{transform:translateX(-1015px);}
	100%{transform:translateX(-15px);}
}

/*头底部的导航栏 -- 右边nav*/
.headerBot_main_right ul{
	float: right;
}
.headerBot_main_right ul li{
	float: left;
}
.headerBot_main_right ul li a{
	display: inline-block;
	margin: 0px 15px;
	font-size: 14px;
	color: #000;
	font-family: 'Microsoft Yahei';
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);

}
/*默认颜色*/
.headerBot_main_right ul li:nth-child(5) a{
	color: #E9A820;
}
.headerBot_main_right ul li a::before{
	color: #E9A820;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,225,225,0.3);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transition: transform 0.3s, opacity 0.3s;	
}
.headerBot_main_right ul li a:hover::before{
	opacity: 1;
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
}

/*页面的主体部分*/
/*heading*/
#main{
	width: 100%;
	height: auto;
}
#main .main_box{
	width: 1140px;
	height: auto;
	padding: 0px 15px;
	margin: 0 auto;
}
#main .main_box .main_page{
	width: 100%;
	padding: 80px 0px;
	height: auto;
}
.main_page .main_header{
	width: 100%;
	height: 52px;
	line-height: 52px;
	text-align: center;
}
.main_page .main_header h3{
	color: #6F6F8C;
	font-size: 48px;
	font-family: 'Aladin', cursive;
	animation: fly 1s linear 0s;
}
@keyframes fly{
	0%{transform:translateY(-300px);}
	100%{transform:translateY(0px);}
}


.main_page .main_one{
	width: 100%;
	height: auto;
}

/*h3标题的统一样式样式 -- 开始*/
.one_header{
	width: 100%;
	height: 52px;
	line-height: 50px;
	padding-bottom: 9px;
	border-bottom: 1px solid #EEE;
	margin: 40px 0px 20px 0px;
}
.one_header h3{
	color: #000;
	font-size: 44px;
	font-family: 'Microsoft Yahei';
	
}

/*h3标题的统一样式样式 -- 结束*/
.main_one .one_inf{
	width: 100%;
	height: 260px;
	padding-top: 32px;
}
.one_inf table{
	width: 100%;
	height: 260px;
	margin-bottom: 20px;
}
.one_inf table tr .td1{
	width: 834px;
	padding: 8px;
	color: #333;
}
.one_inf table tr .td1 h1{
	font-size: 36px;
}
.one_inf table tr .td1 h2{
	font-size: 30px;
}
.one_inf table tr .td1 h3{
	font-size: 24px;
}
.one_inf table tr .td1 h4{
	font-size: 18px;
}
.one_inf table tr .td1 h5{
	font-size: 14px;
}
.one_inf table tr .td1 h6{
	font-size: 12px;
}
.one_inf table tr .td2{
	width: 274px;
	padding: 8px;
	color: #333;
}

/*bottons*/
.main_two .grid1{
	width: 100%;
	margin: 24px 0px 0px;
}
.grid1 .btn{
	display: line-block;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
}
.grid1 .btn-lg{
	padding: 10px 16px;
	font-size: 18px;
	border-radius: 6px;
}
.grid1 .def{
	color: #333;
	background-color: #FFF;
	border-color: #CCC;
}
.grid1 .pri{
	color: #FFF;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.grid1 .suc{
	color: #FFF;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.grid1 .info{
	color: #FFF;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.grid1 .war{
	color: #FFF;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.grid1 .dan{
	color: #FFF;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.grid1 .link{
	color: #337ab7;
	background-color: #FFF;
	/*border-color: #2e6da4;*/
}
.grid1 .btn-l{
	padding: 6px 12px;
	font-size: 15px;
	border-radius: 4px;
}
.grid1 .btn-g{
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 3px;
}
.grid1 .btn-n{
	padding: 1px 5px;
	font-size: 10px;
	border-radius: 2px;
}


/*Badges*/
.main_three p a{
	font-size: 16px;
}
.main_three .ft{
	display: line-block;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 600;
	color: #FFF;
	text-align: center;
	background-color: #777;
	border-radius: 10px;
}
.main_three ul{
	width: 100%;
	height: 22px;
	margin-top: 24px;
}

.main_three ul li{
	float: left;
}
.main_three ul li .a1{
	display: line-block;
	margin: 0px 12px;
	color: #FFF;
	font-weight: 400;
	background-color: #337ab7;
	border-radius: 4px;
	padding: 3px 7px;
}
.a1 .tf{
	display: line-block;
	padding: 2px 5px;
	font-size: 12px;
	color: #337ab7;
	text-align: center;
	background-color: #FFF;
	border-radius: 10px;
}
.a2{
	color: #337ab7;
	margin: 0px 15px;
	font-size: 15px;
}
.a3{
	font-size: 15px;
	color: #337ab7;
	margin: 0px 15px;
}
.a3 .tf{
	font-size: 12px;
	display: line-block;
	padding: 3px 7px;
	border-radius: 50%;
	background: #777;
	color: #FFF;
}


/*Alerts*/
.one_header .size1{
	font-size: 32px;
	opacity: .6;
}
.main_four .alert{
	width: 1108px;
	height: 22px;
	padding: 15px;
	border: 1px solid transparent;
	margin-bottom: 20px;
	border-radius: 4px;
	font-size: 15px;
}
.main_four .ale-suc{
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.main_four .ale-info{
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}
.main_four .ale-warn{
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}
.main_four .ale-dang{
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

/*Navs*/
.five_header{
	width: 100%;
	min-height: 122px;
	padding-bottom: 9px;
	border-bottom: 1px solid #EEE;
	margin: 40px 0px 20px 0px;
}
.five_header h3{
	color: #000;
	font-size: 40px;
	font-family: 'Microsoft Yahei';

}

.five_header .five_up{
	width: 100%;
	height: 24px;
	border-bottom: 1px solid #EEE;
}
.five_header ul li{
	float: left;
	height: 24px;
}
.five_up li:first-child a{
	display: block;
	line-height: 24px;
	height: 24px;
	color: #555;
	cursor: default;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-bottom-color: transparent;
	margin: 0 15px;
	border-radius: 4px 4px 0px 0px;
}
.five_up li:nth-child(2) a{
	display: block;
	color: #337ab7;
	font-size: 15px;
	line-height: 24px;
	height: 23px;
	border: 1px solid transparent;
	margin: 0 15px;
}
.five_up li:nth-child(2):hover a{
	background-color: #EEE;
	border-color: #EEE #EEE #DDD;
	border-radius: 4px 4px 0px 0px;
}
.five_up li:nth-child(3):hover a{
	background-color: #EEE;

	border-color: #EEE #EEE #DDD;
	border-radius: 4px 4px 0px 0px;
}
.five_up li:nth-child(3) a{
	display: block;
	color: #337ab7;
	line-height: 24px;
	height: 23px;
	border: 1px solid transparent;
	font-size: 15px;
	margin: 0 15px;
}
.five_down{
	width: 100%;
	height: 22px;
	margin-top: 24px;
}
.five_down li a{
	display: block;
	line-height: 24px;
	height: 24px;
	color: #555;
	cursor: default;
	background-color: #FFF;
	margin: 0 16px;
	
}
.five_down li:first-child a{
	border-radius: 4px;
	background-color: #337ab7;
	color: #FFF;
	font-size: 15px;
}
.five_down li:nth-child(2) a{
	color: #337ab7;
	font-size: 15px;
}
.five_down li:nth-child(3) a{
	color: #337ab7;
	font-size: 15px;
}
.five_down li:nth-child(2):hover a{
	background-color: #EEE;
	border-color: #DDD;
	border-radius: 4px;
}
.five_down li:nth-child(3):hover a{
	background-color: #EEE;
	border-color: #DDD;
	border-radius: 4px;
}

/*Progress bars*/
.main_six .gun_box{
	width: 100%;
	height: 20px;
	margin-bottom: 20px;
}






/*页面的脚部样式 -- 开始*/

#footer{
	width: 100%;
	height: 204px;
	padding: 80px 0px;
	background: #6F6F8C;
}
#footer .footer_box{
	width: 1140px;
	height: 204px;
	padding: 0px 15px;
	margin: 0 auto;
	
}
#footer .footer_box .footer_inf{
	width: 1140px;
	height: 204px;

}
.footer_box .footer_inf .inf_box{
	width: 255px;
	height: auto;
	padding: 0px 15px;
	float: left;
	opacity: 0;
	transform: scale(.3);
	transition: all .7s ease 0s;
}
.inf_box .inf_box_logo{
	margin-bottom: 20px;
}
.inf_box p{
	color: #FFF;
	font-size: 15px;
	font-family: 'Microsoft Yahei';
	line-height: 26px;
}
.inf_box a{
	font-size: 15px;
	line-height: 26px;
	color: #E9A820;
	transition: all .4s;
}
.inf_box a:hover{
	color: #000;
}
.inf_box h3{
	width: 255px;
	height: 44px;
	line-height: 44px;
	margin-bottom: 20px;
	color: #e9a820;
	font-size: 44px;
	font-family: 'Aladin', cursive;

}
.inf_box form{
	width: 255px;
	height: 39px;
}
.inf_box form input:first-child{
	width: 151px;
	height: 28px;
	outline: none;
	padding: 5px 9px;
}
.inf_box form input:nth-child(2){
	color: #FFF;
	border: none;
	font-size: 16px;
	background: #e9a820;
	padding: 12px 20px;
	transition: all .5s;
	cursor: pointer;
}
.inf_box form input:nth-child(2):hover{
	background: #000;
}
.inf_box ul{
	width: 255px;
	height: 34px;
	margin-top: 16px;
}
.inf_box ul li{
	margin-right: 15px;
	float: left;
}
.inf_box ul li a span{
	background: url("./images/ftr-social.png") no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
}
.inf_box ul li a span:hover{
	opacity: .8;
}
.inf_box ul li a .fa{
	background-position: 10px 0px;
}
.inf_box ul li a .tw{
	background-position: -44px 1px;
}
.inf_box ul li a .link{
	background-position: -101px 0px;
}
.inf_box ul li a .gmail{
	background-position: -153px 0px;
}

.inf_box .nav{
	width: 255px;
	height: 140px;
}
.inf_box .nav li{
	width: 100%;
	height: 28px;
	line-height: 28px;
	text-align: center;
}
.inf_box .nav li a{
	font-size: 16px;
	color: #FFF;
	transition: all .4s;
}
.inf_box .nav li a:hover{
	color: #e9a820;
}

/*页面的脚部 页脚样式 -- 开始*/
#footer_page{
	width: 100%;
	height: 22px;
	padding: 24px 0px;
	background: #e9a820;
	text-align: center;
}
#footer_page p{
	width: 1140px;
	height: 22px;
	line-height: 22px;
	margin: 0 auto;
	font-size: 16px;
	color: #FFF;
	opacity: 0;
	transform: scale(.3);
	transition: all .7s ease 0s;
}
#footer_page p a{
	color: #FFF;
	transition: all .3s;
}
#footer_page p a:hover{
	color: #6F6F8C;
}
