.header{width:100%;height:2.75rem;position: relative;z-index:999;}
.yellow{background:#219ade;}
.header .left{position: absolute;left:0.9375rem;height:100%;}
.header .left .back{display: block;width:0.71875rem;height:1.28125rem;margin-top:0.75rem;margin-right:0.9375rem;float: left;}
.header .left .back img{width:100%;height:100%;}
.header .left .area{width:3.2625rem;height:1.3125rem;font-size: 1.0625rem;color:#ffffff;padding-right:0.8125rem;appearance:none;  -moz-appearance:none;  -webkit-appearance:none; background: url("../img/aimg.png") no-repeat scroll right center transparent;display: block;background-size:0.6875rem 0.34375rem;float: left;margin-top:0.75rem;}
.header .title{font-size: 1.125rem;color:#ffffff;width:100%;text-align: center;line-height: 2.75rem;}
.header .right{position: absolute;right:0.9375rem;top:0;height:100%;line-height: 2.75rem;}
.header .right a{color:#ffffff;font-size: 1.125rem;}

