.bg-orange{padding-top:2.3rem; width:100%;height:15.0rem;background:url(../img/wan.png) #fff no-repeat top;background-size: 100% auto;position: relative;overflow: hidden;}
.top-han{height:2rem;}
::-webkit-input-placeholder { color:#dddddd; }
::-moz-placeholder { color:#dddddd; } /* firefox 19+ */
:-ms-input-placeholder { color:#dddddd; } /* ie */
input:-moz-placeholder { color:#dddddd; }
body{font-family: "微软雅黑"!important;}
a{color:inherit;}.bgRequest{background:#f2eac7;}
.all-color-one{background:#f4f4f4;}
em,i{font-style: normal;}.right-qian p,.left-call p{font-size: 0.5rem;}
.common{padding-left:0.9rem;padding-right:0.9rem;}
.left-call{float: left;width:5.8rem;line-height:1.40625rem;height:1.40625rem;border-radius:1.40625rem;color:#fff;font-size: 0.625rem;position: relative;background:rgba(0,0,0,0.1);text-align: right;padding-right: 0.3rem;margin-left:1.9rem;}
.call{margin-top:-0.2rem;margin-left:-0.9rem;position: absolute;left:0;top:0;width:1.88rem;height:1.88rem;border-radius: 100%;overflow: hidden;background:#ca7730;}
.qian{margin-top:-0.2rem;margin-right:-0.9rem;position: absolute;right:0;top:0;width:1.88rem;height:1.88rem;border-radius: 100%;overflow: hidden;background:#ca7730;}
.call img{width:1.2rem;position: absolute;top:50%;left:50%;margin-left:-0.6rem;margin-top:-0.6rem;}
.qian img{width:1.2rem;position: absolute;top:50%;left:50%;margin-left:-0.6rem;margin-top:-0.6rem;}
.right-qian{float: right;width:5.8rem;line-height:1.40625rem;height:1.40625rem;border-radius:1.40625rem;color:#fff;font-size: 0.625rem;position: relative;background:rgba(0,0,0,0.1);text-align: left;padding-left: 0.7rem;margin-right:1.9rem;}
.headerG{width:4rem;height:4rem;border-radius: 100%;margin:0 auto;border:2px solid #fff;box-shadow: 0px 0px 0.8rem #fff;overflow: hidden;}
.headerG img{width:100%;height:100%;}
.person{text-align: center;font-size: 1rem;color:#333;padding-top:0.2rem;margin-bottom:0.2rem; }
.person span{display: inline-block;margin-right:0.3rem;vertical-align: text-bottom;}
.person em{font-style: normal;vertical-align: text-bottom;font-size: 0.75rem;color:#666666;padding-bottom: 0.1rem;display: inline-block;}
.ID{text-align: center;}
.ID span,.ID a{display: inline-block;margin-right:0.3rem;font-size: 0.75rem;color:#666666;vertical-align: text-bottom;}
.ID span:last-child,.ID a:last-child{margin-right: 0;}
.ID span img,.ID a img{display: inline-block;height:0.75rem;vertical-align: middle;}
.ID span em,.ID a em{vertical-align: middle;}
.three{margin-top: 0.5rem;}
.select-nav{overflow: hidden;}
.three li{float: left;width:33.3%;}
.three .one{text-align: center;font-size:0.625rem;color:#333; }
.three  i{font-size: 1rem;}
.three .two{text-align: center;line-height:1.5rem;color:#999;font-size: 0.75rem; }
.selecte-list{margin-top:0.65rem;padding-left:0.9rem;background: #fff;margin-bottom: 0.625rem;}
.select-nav li{height:3.1875rem;box-shadow: 0px 1px 1px #ddd;}
.select-nav li:last-child{box-shadow:none;}
.select-nav li a{display: block;width:100%;height:100%;padding-right:0.9rem;overflow: hidden;}
.select-nav li a p{font-size: 0.8125rem;color:#121212; line-height:3.1875rem;background: url(../img/back-one.png) no-repeat right center;background-size:0.625rem auto;  }
.quit{height:3.125rem;line-height: 3.125rem;text-align: center;color:#f89c3d;font-size: 0.875rem;margin-bottom: 0.625rem;background:#fff;}

.condition{height:2.625rem;line-height: 2.625rem;font-size: 0.9375rem;color:#7e7e7e;}
.block-imgUp{width:100%;padding:0.6rem 0.9rem;background:#fff;}
.list-up{margin-bottom:1.25rem; }
.list-up li{float:left;width:6.71875rem;height:6.78125rem;margin-right:0.625rem;border-radius:0.4rem;box-shadow:0 0 0.3rem #e2cfcf;padding-top:1.875rem;   }
.list-up li:last-child{margin-right: 0}
.camera{width:2.125rem;display: block;margin:0 auto;}
.list-up li p{text-align: center;line-height:1.5625rem;color:#dddddd;font-size: 0.75rem; }
.title-up{line-height: 2rem;font-size:0.8125rem;color:#797979;padding-bottom: 0.3rem; }
.title-up-g{font-size:0.8125rem;color:#797979;padding-bottom: 0.3rem; }
.gopay{width:94%;display: block;margin:0.9375rem auto;height:2.75rem;font-size: 0.9375rem;color:#fff;background:#fa943c;border-radius: 2.75rem;}
.tip-gopay{font-size: 0.8rem;line-height: 1.5rem;color:#bbbbbb;width:94%;margin:0 auto;}
.tip-gopay em{font-style: normal;color:#fa943c;}
.yous{display: block;margin:0 auto;width:6.875rem;font-size:0.9375rem;color:#333333;z-index: 100;margin-top:-2rem;background: #f4f4f4;}
hr{margin-top:1.25rem;margin-bottom: 1.25rem;}
.text-one{font-size: 0.8125rem;color:#666;line-height:1.5625rem; }
.bgWhite{background:#fff;}
.conditionPad{margin-bottom:0.75rem; }
.slected li{float:left;width:100%;height:2.96875rem;position: relative;background:#fff;}
.slected li img{position: absolute;width:2.25rem;height:2.25rem;border-radius: 100%;left:1.1rem;top:50%;margin-top:-1.125rem;}
.text{position: relative;}
.slected li .text{padding-left:3.2rem;}
.text .t-one{font-size: 0.9375rem;color:#666666;padding-top:0.2rem;}
.text .t-two{font-size: 0.6875rem;color:#666666;}
.slected li .seles{width:1.2rem;height:1.2rem;border-radius: 100%;background:url(../img/duihaoQ.png) no-repeat center; background-size:cover;position: absolute;right:0.2rem;top:50%;margin-top:-0.6rem;}
.slected li.active .seles{background:url(../img/duihaoO.png) no-repeat center;background-size:cover;}
.borderbot{border-bottom: 1px solid #dddddd;}
.common-ban-left{padding-left:0.9rem;background:#fff;}
.common-ban-all{padding:0.9rem;background:#fff;}
.selectedYuan{padding-top:0.8125rem;padding-top:0; }
.selectedYuan li{float:left;width:6.0rem;height:3.875rem;border:1px solid #999999;border-radius: 0.3rem;padding-top: 0.5rem;position: relative;overflow: hidden;margin-left:0.2rem;margin-right:1.5rem;}
.selectedYuan li:last-child{margin-right: 0;}
.selectedYuan li.active{border:1px solid #fe753e;}
.selectedYuan li .yuan-one{text-align: center;font-size:1rem;color:#999;margin-bottom:0.5rem;  }
.selectedYuan li .yuan-style{text-align: center;font-size:0.59375rem;color:#999; }
.selectedYuan li .select-img-show{width:1.2rem;position: absolute;top:0;right:0;display: none;}
.selectedYuan li.active .select-img-show{display: block;}
.selectedYuan li.active p{color:#fe753e!important;}
.pos{position: relative;}
h2.pos div{position: absolute;right:0;top: 0;font-size:1.0rem; }
h2.pos div input{vertical-align: middle;width:6.25rem;height:1.1875rem;color:#dddddd;border-bottom: 1px solid #dddddd;}
h2.pos div em{font-style: normal;font-size:0.75rem;color:#666;vertical-align: middle; }
.teacherY-set,.ziliao-header,.mobile-set,.name-set{height:3.59375rem;background:#fff;box-shadow: 1px -1px 1px #eee; }
.ziliao-header em,.mobile-set em,.name-set em{display: inline-block;width:3.125rem;vertical-align: middle;}
.ziliao-header p,.mobile-set p,.name-set p{line-height: 3.59375rem;font-size: 0.875rem;color:#121212;position: relative;background: url(../img/2s.png) no-repeat right center;background-size:0.625rem auto;}
.ziliao-header img{position: absolute;width:3.125rem;height:3.125rem;right:1.8rem;margin-top:-1.5rem;top:50%;}
.mobile-set span,.name-set span{display: inline-block;font-size: 0.875rem;color:#aaaaaa;vertical-align: middle;}
.teacherY-set p,.teacherY-sets p{color:#333333;}
.teacherY-sets{background: #fff;}
.teacherY-set p{line-height: 3.59375rem;font-size: 0.875rem;color:#121212;position: relative;background: url(../img/4v.png) no-repeat right center;background-size:1rem auto;}
.teacherY-sets p{line-height: 3.59375rem;font-size: 0.875rem;color:#121212;position: relative;background-size:1rem auto;}
.three-radio{display: inline-block;width:;}
.radio-re{border: #2489c5 1px solid;width:0.9375rem;height:0.9375rem;border-radius: 0.2rem;vertical-align: middle;text-align: center;display: inline-block;border-color: #ccc;background: #ccc;}
label.re i {font-size: 0.7rem;font-style: normal;display: inline-block;width: 1rem;height: 1rem;text-align: center;line-height: 0.9rem;color: #fff;vertical-align: middle;border: #f89c3d 1px solid;border-radius: 0.3rem;margin-right: 0.4rem;}
label.res i {font-size: 0.7rem;font-style: normal;display: inline-block;width: 1rem;height: 1rem;text-align: center;line-height: 0.9rem;color: #fff;vertical-align: middle;border: #bbb 1px solid;border-radius: 0.3rem;}
label{font-size: 0.75rem;}
label span{vertical-align: middle;}
.teacherY-set em{vertical-align: middle;}
label.re input[type="checkbox"] {display: none;} 
label.re input[type="checkbox"]:checked+ i {background: #f89c3d;} 
label.re input[type="checkbox"]:disabled+ i {border-color: #f89c3d;} 
label.re input[type="checkbox"]:checked:disabled+ i{background: #f89c3d;}
label.re{margin-left:0.8rem;}.authen>h4{line-height: 1.875rem;font-size: 0.875rem;color:#333;}.authen{padding-top:0.4rem;padding-bottom:0.4rem;background:#fff;}.zhengshu{width:100%;height:2.4375rem;line-height: 78px;border-radius:0.1rem;border:0;background:#f4f4f4;color:#bbbbbb;font-size: 0.75rem;padding-left:0.5rem;}
label.res input[type="checkbox"] {display: none;} 
label.res input[type="checkbox"]:checked+ i {background: #f89c3d;border-color: #f89c3d;} 
label.res input[type="checkbox"]:disabled+ i {border-color: #f89c3d;} 
label.res input[type="checkbox"]:checked:disabled+ i{background: #f89c3d;}.dropdown-menu li:last-child{border-bottom: 0;}
.teacherY-set span{vertical-align: middle;margin-left:0.3rem;}.imgShow{padding-bottom: 30px}
.imgShow{margin-top:0.3rem;}.imgShow>img,.imgShow div.an{float: left;width:4.6875rem;height:4.6875rem;border-radius: 0.2rem}.imgShow div.an{border:1px dotted #ddd;position: relative;}.imgShow div.an img{width:100%;height:100%;padding:0.625rem;}
.listArry{background:#fff; }.imgShow>img{margin-right:0.875rem;}
.listArry th,.listArry td{vertical-align: middle;height:1.5625rem;font-size: 0.75rem;color:#333;text-align: center}.authen .dropdown-menu a{text-align: left;padding-left:0.3rem;}
.ans{position: relative;background: #fff;padding-top:0.4rem;}
.ans .left{position: absolute;left:0.9rem;top:0.4rem;width:4rem;font-size:0.875rem; }
.ans .right{padding-left: 4.5rem;}
.ans .right textarea{width:17.0625rem;height:7.46875rem;font-size: 0.8rem;color:#bbb;padding:0.3rem;resize:none;border:1px solid #ddd;border-radius: 0.4rem;}
.dropdown-menu{width:100%;border-radius: 0;margin-top: -2px;}
.dropdown-menu > li > a{padding-left:5rem;}
.dropdown-menu > li{border-bottom:1px solid #eee;}
.colorSpecial{color:#f99a3d;}
.name-in{font-size:0.875rem;width:100%;height:2.5rem;line-height: 2.5rem;padding-left:2.0625rem;background:url(../img/my2.png) no-repeat 0.5rem center;background-size:0.75rem auto; }
.pass-in{font-size:0.875rem;width:100%;height:2.5rem;line-height: 2.5rem;padding-left:2.0625rem;background:url(../img/passS.png) no-repeat 0.5rem center;background-size:0.75rem auto; }
.yan-in{font-size:0.875rem;width:100%;height:2.5rem;line-height: 2.5rem;padding-left:2.0625rem;background:url(../img/mobile.png) no-repeat 0.5rem center;background-size:0.75rem auto; }
.tu-in{vertical-align: middle; font-size:0.875rem;width:11rem;height:2.5rem;line-height: 2.5rem;padding-left:2.0625rem;background:url(../img/tuyan.png) #fff no-repeat 0.5rem center;background-size:0.75rem auto; }
.reseze{background:#fff;margin-top:0.8125rem;position: relative;}
.resezeP{margin-top:0.8125rem;position: relative;}
.ggen{display:inline-block;height:2.5rem;vertical-align: middle;}
.changeImg{color:#f89b3d;font-size: 0.6875rem;vertical-align: middle;display: inline-block;margin-left:0.5rem;}
.toforget{text-align: right;font-size: 0.875rem;color:#f89b3d;}
.fasong{position: absolute;width:5.9375rem;height:1.75rem;border:1px solid #f89b3d;border-radius: 1.75rem;color:#f89b3d;font-size: 0.75rem;right:0.2rem;top:50%;margin-top:-0.88rem;background-color:#fff;}
input[type='button']:disabled{border:#675858;background:#675858;color:#fff;}
.show_img_qiang img{width:100%;min-height:7.65625rem;}
.show_img_qiang{max-height:7.65625rem;overflow: hidden; }
.main-Req{padding:0.5rem;}
.show-re{border-radius: 0.3rem;box-shadow: 0rem 0rem 1rem #fef1b4;padding:0.9375rem;background:#fef1b4; }
.show-re>p{text-align: justify;font-size:0.8125rem;color:#666666;line-height: 1.1rem;padding-bottom:0.75rem;}
.show-re>input{border-radius: 0.2rem;background: #fff;padding-left:0.4rem;height:2.75rem;line-height: 2.75rem;width:100%;}
.show-lists-head{position: relative;height:1.25rem;}
.show-lists-head span{display: block;width:5.0625rem;line-height: 1.25rem;text-align: center;font-size: 0.9375rem;color:#f89b3d;margin:0 auto;position: absolute;left:50%;margin-left:-2.5rem;top:0;background:#fef1b4;}
.show-lists-head hr{border-bottom:1px solid #f89b3d;margin:0;padding-top:0.6rem;width:100%;}
.yao-table{margin-top:0.9rem;margin-bottom: 0.8rem}
.yao-table th{height:1.5625rem;vertical-align: middle;font-size: 0.8125rem;color:#666666;text-align: center;}
.yao-table td{height:1.5625rem;vertical-align: middle;font-size: 0.8125rem;color:#cccccc;text-align: center;}
.select-navs{background:#fff;margin-bottom:0.68rem; }
.select-navs li>a{display: block;height:2.3125rem;line-height: 2.3125rem;padding:0 0.3rem;border-bottom: 1px solid #fff;transition: all .3s linear;}
.navs li{float:left;font-size: 0.9375rem;margin-right:1.25rem;}.navs li:last-child{margin-right: 0;}
.navs li.active a{ border-bottom: 1px solid #f89b3d;color:#f89b3d;}
.select-show li.common{background:#fff;margin-bottom: 0.6875rem;margin-bottom:0.68rem;}
.details{position: relative;}.alreadyApply{position: absolute;right:0;color:#f89b3d;font-size: 0.75rem;}
.details .date{box-shadow: 0px -1px 1px #eee;line-height:2.1875rem;font-size: 0.75rem;color:#dddddd;  }
.details .details-text{line-height:2.1875rem;font-size: 0.875rem;color:#333333;height:2.1875rem;padding-right: 1rem;overflow: hidden;}
.comment-show{background:#fff;}.list-comments{overflow: hidden;}
.list-comments li{padding-top:0.375rem;padding-bottom: 0.375rem;box-shadow: 1px -1px 1px #eee }
.comment-details{position: relative;}
.comment-details .left {width:2.1875rem;position: absolute;top:0.4rem;left:0;font-size: 0.625rem;color:#bbbbbb;}
.comment-details .left img{width:1.6875rem;height:1.6875rem;border-radius: 100%;}
.comment-details .right{padding-left:2.2rem;}
.comment-details .right p.topf{font-size: 0.8125rem;color:#777777;position: relative;line-height: 2.0rem;}
.data-right{position: absolute;right:0;font-size: 0.75rem;color:#aaaaaa;}
.callback{position: absolute;right:0;display: block;font-size: 0.625rem;color:#ddd;border-radius: 0.8rem;padding-left:1.3rem;height:1.4rem;line-height: 1.35rem;padding-right: 0.3rem; border:1px solid #ddd;background:url(../img/con3.png) no-repeat 0.2rem center;background-size:0.9rem;}
.limit-comment{overflow: hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height: 1.2rem;max-height:2.4rem;overflow: hidden;}
.comment-details .right p.lis{font-size: 0.75rem;color:#777777;text-align: justify;}
.comment-details .right  p span{ vertical-align: middle;display: inline-block;}
.starts {display: inline-block;margin-left:0.4rem;vertical-align:top!important;margin-top:-0.1rem;}
.starts .start{display: inline-block;width:1rem;height:1rem;background:url(../img/startA.png) no-repeat center;background-size: cover;vertical-align: middle;vertical-align: middle;}
.anotherComment{font-size:0.75rem;color:#7e7e7e;line-height: 2.34375rem; }
.topf{position: relative;} 
.topf .ss i{font-size: 0.5rem;color:#bbbbbb;font-style: normal;position: absolute;bottom:-0.4rem;;left:0;}
.topf .ss{margin-bottom: 0.8rem;}
.anotherComment em{vertical-align: middle;}
.orange-zhu{width:0.3rem;height:1.2rem;vertical-align: middle;display: inline-block;background:#f89c3d;margin-right: 0.4rem;}
.back-call{font-size: 0.75rem;line-height: 1.2rem;color:#777777;padding:0.46875rem 0;}
.collection{background:#fff;}
.collection-details{position: relative;}
.list-collection li{padding-top:0.625rem;padding-bottom: 0.625rem;}
.collection-details .left{width:5.75rem;height:5.75rem;position: absolute;left:0;top:0;}
.collection-details .left img{width:100%;height:100%;border-radius: 100%;}
.collection-details .right{padding-left:6.475rem;position: relative; }
.haveLook{position: absolute;right:0;bottom:0.8rem;width:2.5625rem;height:1.2rem;border:1px solid #f89b3d;font-size: 0.75rem;text-align: center;line-height:1.1rem; border-radius: 0.3rem;color:#f89b3d;}
.collection-details .right .name-y{position: relative;line-height: 1.625rem;font-size: 0.9375rem;color:#333;}
.name-y .right-texts{position: absolute;right:0;font-size: 0.875rem;color:#f89b3d;}
.topf .c-span{display: inline-block;font-size: 0.75rem;color:#666666;margin-left:0.4rem;}
.topf .a-span{display: inline-block;font-size: 0.75rem;color:#666666;}
.topf .renzheng{display: inline-block;width:3.0rem;height:1.2rem;font-size: 0.75rem;color:#f89b3d;text-align: center;background:url(../img/yuan6.png) no-repeat;background-size: 3.0rem 1.2rem;position: absolute;right:0;top:0.2rem;}
.list-collection li{box-shadow: 1px -1px 1px #eee; }.list-collection{overflow: hidden;}
/*弹出*/
.alertK{display:none; width:10.75rem;height:2.125rem;line-height: 2.125rem;text-align: center;color:#fff;font-size: 0.9375rem;background:#959595;border-radius: 2.125rem;position: fixed;top:50%;margin-top:-1.1rem;left:50%;margin-left:-5.4rem;}
.tan-qian{position: fixed;top:0;left:0;width:100%;height:100%;display: none;}
hr{border-bottom: 1px solid #dddddd;}
.meng{width:100%;height:100%;background:rgba(0,0,0,0.5);}
.tan-qian .main-tan{position: absolute;width:18.8rem;height:14rem;border-radius: 0.4rem;background:#f4f4f4;position: absolute;left:50%;margin-left:-9.4rem;top:30%;}
.tan-qian .main-tan-1{position: absolute;width:100%;height:28.125rem;background:url(../img/bf.png) no-repeat center;position: absolute;top:10%;}
.back-white{background:#fff;width:12.1875rem;height:7.8125rem;background:#f1f1f1;padding:0.8rem;position: absolute;top:50%;left:50%;margin-top: -3.925rem;margin-left:-6.15rem;border-radius: 0.4rem;}
.back-white div{width:10.3125rem;height:6.25rem;}
.back-white div p{width:100%;height:100%;font-size: 1.0rem;background:#fff;color:#666666;text-align: center;line-height: 6.25rem;}
.hed{width:17.3125rem;height:auto;margin:0 auto;margin-top:-2.7rem;}
.group-input{position: relative;}
.input-in{padding:0.9375rem;}.list-good{font-size: 0.75rem;color:#aaaaaa; line-height:1.5625rem; }
.main-tan-1 .hed{margin-left:-3.65rem;position: absolute;}.margin-b{margin-bottom: 0.6rem;}
.group-input{margin-bottom: 0.3rem;}
.group-input .left{width:3.4375rem;height:1.625rem;line-height: 1.625rem;font-size: 0.875rem;color:#333;position: absolute;left:0;right:0;}
.group-input .right{padding-left:3.5rem;font-size: 0.875rem;color:#333;}
.hight .left{height:2.5rem!important;line-height: 2.5rem!important;}
.group-input .right>span{display: inline-block;height:1.625rem;line-height: 1.625rem;}
.group-input .right>input{vertical-align: middle; display: inline-block;height:2.5rem;line-height: 4.875rem;width:8rem;padding-left:0.5rem;padding-right:0.5rem;font-size:0.75rem; background:#fff;}
.yan{vertical-align: middle;display: inline-block;}
.input-in .tip{text-align: right;font-size: 0.6875rem;color:#f89b3d;padding-top:0.4rem;padding-bottom:0.9rem }
#sub{display: block;margin:0 auto;width:8.4375rem;height:2.75rem;font-size: 0.9375rem;color:#fff;border-radius:2.75rem;background:#fc8d3a; }
.main-tan>h4{text-align: center;line-height: 2.25rem;font-size: 0.9375rem;color:#333;}
.main-tan>input{display:block;width:15.0rem;height:1.875rem;margin-bottom:1rem;border:1px solid #ddd;margin:0 auto;padding-left:0.5rem;}
.button-froup{position: absolute;bottom:0;left:0;width:100%;height:2.5rem;}
.button-froup button{display: block;width:50%;float:left;border-top:1px solid #d4d4d4;font-size: 0.8125rem;height:100%;}
.back-qu{color:#a2a1a1;border-right:1px solid #d4d4d4;}
.go-now{color:#545353;}
header{position: relative;height:2.75rem;background:#fa933b;}
header a{display: block;height:2.75rem;line-height: 2.75rem;z-index: 100;}
header a.left-img{position: absolute;left:0.94rem;top:0;padding-top:0.5rem;}
header a.left-img img{width:1rem;}
header h4{color:#fff;font-size: 1.125rem;text-align: center;line-height: 2.75rem;}
header a.right-text{position: absolute;right:0.94rem;top:0;color:#fff;font-size: 1.125rem;}