.sc-center {
  text-align: center;
}
.sc-fl {
  float: left;
}
.sc-fr {
  float: right;
}
.f-weight {
  font-weight: 600;
}
.b-radius {
  border-radius: 50%;
}
.sc-header {
  width: 100%;
  height: 2.75rem;
  line-height: 2.75rem;
}
.text-overflow-one {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-overflow-much {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.d-block {
  display: block;
}
.m-auto {
  margin: 0 auto;
  display: block;
}
.of {
  overflow: hidden;
}
.c-fff {
  color: #fff;
}
.c-666 {
  color: #666;
}
.c-333 {
  color: #333;
}
.c-999 {
  color: #999;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.bg-fff {
  background-color: #fff;
}
.study-header .text.black {
  color: #000000;
}
.study-header .edit img {
  width: 1.0625rem;
  height: 1.0625rem;
  margin-top: 0.78125rem;
}
.creCourse {
  /*创建课程*/
  width: 100%;
  padding: 0 1.09375rem;
  overflow: hidden;
}
.creCourse-write {
  font-size: 1.0rem;
  border-bottom: 1px solid #eeeeee;
  padding: 0.9375rem 0;
}
.creCourse-write span {
  width: 25%;
}
.creCourse-write input {
  width: 75%;
  font-size: .95rem;
}
.creCourse-write .right {
  font-size: 0.875rem;
  color: #999999;
  text-align: right;
}
.creCourse-write .right b {
  font-weight: normal;
  display: inline-block;
  padding-right: .6rem;
}
.creCourse-write .right img {
  vertical-align: middle;
  display: inline-block;
  width: 0.375rem;
  height: 0.75rem;
}
.creCourse-write .right2 {
  min-width: 40%;
}
.creCourse-queryImg {
  width: 100%;
}
.creCourse:nth-child(1) {
  margin-top: 0.9375rem;
}
.creCourse:nth-child(3) {
  margin-top: 0.9375rem;
}
.creCourse:nth-child(4) {
  margin-top: 0.9375rem;
}
.creCourse:nth-child(5) {
  margin-top: 0.9375rem;
}
.inputClickBox {
  width: 5.25rem;
  height: 5.25rem;
  background: #f3f5f8;
}
.inputClickBox input {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
}
.inputClickBox img {
  top: 1.875rem;
  left: -0.84375rem;
  width: 1.6875rem;
  height: 1.4375rem;
  margin-left: 50%;
}
.creCourse-queryImg {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.imgShowBox > div {
  margin-right: 0.3125rem;
}
.imgShowBox > div:nth-child(4n) {
  margin-right: 0;
}
.addCourse {
  font-size: 0.875rem;
  width: 18.125rem;
  height: 2.75rem;
  line-height: 2.75rem;
  background: #33a9f9;
  border-radius: 1.875rem;
}
.btnBox {
  padding-top: 2.1875rem;
  padding-bottom: 2.96875rem;
}
.study-header .search {
  width: 14.625rem;
  border-radius: 1.2rem;
  background: white;
  box-shadow: 0px 0px 0.8125rem rgba(221, 221, 221, 0.69);
  float: left;
  height: 1.75rem;
  margin-top: 0.5rem;
  margin-left: 4.5625rem;
  -moz-box-shadow: 0px 0px 0.8125rem rgba(221, 221, 221, 0.69);
  -webkit-box-shadow: 0px 0px 0.8125rem rgba(221, 221, 221, 0.69);
  -ms-box-shadow: 0px 0px 0.3125rem #ccc;
  -o-box-shadow: 0px 0px 0.3125rem #ccc;
}
.study-header .search .img {
  width: 1.21875rem;
  height: 1.21875rem;
  display: block;
  float: left;
  margin-top: 0.25rem;
  margin-left: 0.625rem;
}
.study-header .search .img img {
  width: 100%;
  height: 100%;
}
.study-header .search .text {
  width: 84%;
  float: right;
  height: 100%;
  font-size: 0.75rem;
  color: #333;
}
.sc-box .sc-select {
  border-bottom: 1px solid #eeeeee;
  padding: 0;
  height: 2.625rem;
  line-height: 2.625rem;
}
.sc-box .sc-select li select {
  background-image: url(../images/sc_t_13.png);
  background-size: 0.75rem 0.375rem;
  padding-right: 1.2rem;
}
.English ul {
  padding: 0.625rem 1.0rem;
}
.English ul li {
  width: 100%;
  border-radius: 0.46875rem;
  box-shadow: 0 0 .5rem .1rem #e4e4e4;
  margin-bottom: 0.625rem;
}
.English ul li h3 {
  font-size: 1.0rem;
  padding: 0 0.46875rem;
  padding-top: 1.09375rem;
  font-weight: 600;
}
.English ul li .removeLi {
  top: 0.9375rem;
  right: 0.8125rem;
  font-size: 0.625rem;
}
.English ul li .removeLi img {
  width: 1.125rem;
  height: 1.125rem;
}
.English ul li .bom {
  padding: 0.9375rem 0;
}
.English ul li .bom .left-img {
  width: 30%;
}
.English ul li .bom .left-img img {
  width: 5.25rem;
  height: 5.25rem;
  margin: 0 auto;
  display: block;
}
.English ul li .bom .right {
  width: 70%;
}
.English ul li .bom .right-top h4 {
  font-size: 1.0rem;
  color: #999999;
  line-height: 1.25rem;
}
.English ul li .bom .right-top p {
  font-size: 0.75rem;
  color: #999999;
  line-height: 1.55rem;
}
.English ul li .bom .right-top p.text-overflow-much {
  color: #333;
  line-height: 1.2rem;
}
.English ul li .bom .right-top-border {
  border-bottom: 1px #eeeeee solid;
  padding-bottom: 0.46875rem;
}
.English ul li .bom .right-bottom {
  color: #f44e52;
  font-size: 0.875rem;
  line-height: 2.1875rem;
  padding-right: 1.25rem;
}
.English ul li .bom .right-bottom img {
  width: 0.375rem;
  height: 0.75rem;
  margin-top: 0.725rem;
}
.student-comment {
  padding: 0 1.09375rem;
  border-top: 1px #eeeeee solid;
}
.student-comment h2 {
  font-size: 1.0625rem;
  line-height: 2.5rem;
  font-weight: 600;
}
.student-comment h2 .share {
  top: 0.84375rem;
  right: 0;
}
.student-comment h2 .share img {
  width: 1.0rem;
  height: 1.03125rem;
}
.student-comment h2 .praise {
  top: 0.84375rem;
  right: 1.875rem;
}
.student-comment h2 .praise img {
  width: 1.09375rem;
  height: 1.09375rem;
}
.student-comment ul {
  padding-left: 1.09375rem;
}
.student-comment ul li {
  width: 100%;
  background: #f5f5f7;
  border-radius: 0.46875rem;
  padding: 0.625rem 0;
  padding-left: 1.875rem;
  font-size: 0.875rem;
  margin-top: 0.625rem;
}
.student-comment ul li .user {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
  top: 0;
  left: -0.6875rem;
}
.student-comment ul li .user img {
  width: 100%;
  height: 100%;
}
.student-comment ul li > span {
  padding-right: 0.46875rem;
  text-align: right;
}
.create-popUp {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: none;
}
.create-popUp .relevancyBox {
  width: 100%;
  bottom: 0;
}
.create-popUp .relevancyBox .head {
  color: #34a9f9;
  font-size: 0.9375rem;
  padding: 0.78125rem 0.9375rem;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.create-popUp .relevancy {
  height: 15.8rem;
  overflow-y: auto;
  width: 100%;
}
.create-popUp .relevancy li {
  padding: 0.3125rem 0.46875rem;
  color: #999;
  font-size: 0.875rem;
  transition: all .6s;
  -moz-transition: all .6s;
  /* Firefox 4 */
  -webkit-transition: all .6s;
  /* Safari 和 Chrome */
  -o-transition: all .6s;
  /* Opera */
}
.create-popUp .relevancy .li-current {
  color: #333;
  font-size: 1.0rem;
}
.relevancy::-webkit-scrollbar {
  display: none;
}
footer {
  height: 2.75rem;
  background: #f5f5f7;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 0.3125rem 0;
}
footer input {
  border: 1px solid #d2d2d2;
  border-radius: 0.3125rem;
  float: left;
  width: 18.65625rem;
  height: 100%;
  margin-left: 1.25rem;
  text-indent: 1em;
}
footer input::-webkit-input-placeholder {
  text-align: center;
}
footer button {
  width: 14%;
  height: 100%;
}
footer button img {
  width: 1.75rem;
  height: 1.75rem;
  margin: 0 auto;
  display: block;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
.sc-t-Details {
  padding: 0 0.9375rem;
}
.Details-head {
  padding: 0.3125rem 0;
}
.Details-head .left-img {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
}
.Details-head .middle {
  padding-left: 0.625rem;
  width: 50%;
}
.Details-head .middle h5 {
  font-size: 0.875rem;
  color: #000;
  padding: 0.375rem 0;
}
.Details-head .middle p {
  font-size: 0.75rem;
}
.Details-head .right-collect {
  width: 15%;
  margin-top: 4%;
}
.Details-head .right-collect img {
  width: 1.0625rem;
  height: 1.0rem;
  margin: 0 auto;
  display: block;
}
.Details-content {
  width: 100%;
}
.Details-content h3 {
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 2.375rem;
}
.Details-content p {
  font-size: 0.9375rem;
}
.Details-content .img {
  padding: 0.9375rem 0;
}
.Details-content .img img {
  width: 30%;
  height: auto;
  margin-right: 0.3125rem;
  float: left;
}
.dynamic-banner {
  height: 8.75rem;
  width: 100%;
}
.dynamic-banner .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}
.dynamic-banner .swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.dynamic-banner .swiper-container-horizontal > .swiper-pagination-bullets,
.dynamic-banner .swiper-pagination-custom,
.dynamic-banner .swiper-pagination-fraction {
  text-align: right;
  padding-right: 2rem;
  bottom: 0;
}
.dynamic-tabbar {
  width: 100%;
}
.tabbarClassify {
  font-size: 0.75rem;
  border-bottom: 1px solid #eeeeee;
  padding: 0.78125rem 0;
}
.tabbarClassify .swiper-slide-active {
  color: #33a9f9;
}
.tabbarClassify .swiper-slide {
  border-right: 0.16rem solid #eeeeee;
}
.sc-t-Details-border {
  border-bottom: 1px solid #eeeeee;
}
.Details-bom {
  width: 100%;
  padding-bottom: 0.78125rem;
}
.Details-bom .box {
  margin-left: 1.5625rem;
}
.Details-bom .box span {
  display: inline-block;
  font-size: 0.75rem;
}
.Details-bom .box img {
  width: 1.0rem;
  height: 1.0rem;
  display: inline-block;
  vertical-align: sub;
}
.tabbarContent .height0 {
  height: 0;
  overflow: hidden;
}
.s-message li .li-top {
  padding: 0.625rem;
}
.s-message li .li-top img {
  width: 2.4375rem;
  height: 2.4375rem;
  display: inline-block;
  vertical-align: middle;
}
.s-message li .li-top span {
  display: inline-block;
  font-size: 1.0rem;
  padding-left: 0.46875rem;
}
.s-message li .li-content {
  padding: 0 0.625rem;
}
.s-message li .li-content p {
  line-height: 1.5625rem;
}
.s-message li .bom-p {
  text-align: right;
  padding: 0.625rem;
}
.myMessage {
  width: 100%;
}
.myMessage li {
  padding: 0.625rem 1.09375rem;
  border-top: 0.3125rem solid #f7f7f7;
}
.myMessage li .left-img {
  width: 3.59375rem;
  height: 3.59375rem;
  border-radius: 50%;
  /*overflow: hidden;*/
  box-shadow: 0 0 .2rem .1rem #e0e0e0;
}
.myMessage li .left-img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.myMessage li .left-img span {
  width: 1.09375rem;
  height: 1.09375rem;
  line-height: 1.09375rem;
  font-size: .5rem;
  top: 0;
  right: 0;
  z-index: 50;
  background: #ff0000;
  border-radius: 50%;
}
.myMessage li .right-content {
  width: 74%;
}
.myMessage li .right-content .p1 {
  font-size: 0.9375rem;
  line-height: 1.71875rem;
}
.myMessage li .right-content .p2 {
  font-size: 0.75rem;
}
.myMessage li .right-content .p3 {
  font-size: 0.6875rem;
  text-align: right;
}
.c-f44e51 {
  color: #f44e51;
}
.forms-group {
  padding: 0 1.09375rem;
}
.forms-group .group-box {
  width: 100%;
  padding: 1.09375rem 0;
  border-bottom: 1px solid #d0d0d0;
}
.forms-group .group-box label {
  width: 20%;
  font-size: 0.875rem;
}
.forms-group .group-box input {
  width: 80%;
  padding: 0;
  padding-left: .3rem;
}
.forms-group .group-box select {
  width: 80%;
  color: #ccc;
}
.forms-group .group-box .set-code {
  top: 0;
  right: 0;
  line-height: 3.5rem;
}
.forms-group .group-box .img-code {
  top: 0.46875rem;
  right: 3rem;
  width: 5.75rem;
  height: 2.375rem;
}
.forms-group .group-box .img-code img {
  width: 100%;
  height: 100%;
}
.submitBtn {
  width: 80%;
  height: 2.75rem;
  line-height: 2.75rem;
  background: #f44e51;
  border-radius: 1.875rem;
}
.submitBtnI {
  width: 100%;
  height: 2.75rem;
  line-height: 2.75rem;
  background: #f44e51;
}
.submitBtnT {
  width: 80%;
  height: 2.75rem;
  line-height: 2.75rem;
  background: #fff;
  border-radius: 1.875rem;
  border: 1px solid #d0d0d0;
}
.m-top-160 {
  margin-top: 5.0rem;
}
.m-top-60 {
  margin-top: 1.875rem;
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  /*将背景改为红色*/
  /*加padding防止文字覆盖*/
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
  display: none;
}
.other-login {
  width: 18.25rem;
  left: -9.09375rem;
  bottom: 2.0625rem;
  margin-left: 50%;
}
.other-login-title {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.other-login-title span {
  width: 31%;
  height: 1px;
  background-color: #999999;
  margin-top: 0.4375rem;
}
.other-login-title b {
  font-size: 0.75rem;
  padding: 0 0.46875rem;
}
.other-login-query {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding-top: 1.125rem;
}
.other-login-query a {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  overflow: hidden;
}
.other-login-query a img {
  width: 100%;
  height: 100%;
}
.a-link {
  font-size: 0.8125rem;
  margin-top: 0.9375rem;
}
.a-link span {
  color: #999;
}
.c-68a5e1 {
  color: #68a5e1;
}
.Lucky-draw-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.winningOk {
  display: none;
}
.winningNo {
  display: none;
}
.box-rectangle {
  width: 17.5rem;
  border-radius: 0.3125rem;
  min-height: 15rem;
  margin-top: 35%;
}
.box-rectangle .close-img {
  width: 1.5625rem;
  height: 4.0rem;
  top: -4rem;
  right: 0.9375rem;
}
.box-rectangle .close-img2 {
  width: 3.21875rem;
  height: 3.21875rem;
  top: -3.21875rem;
  left: -1.625rem;
  margin-left: 50%;
}
.box-rectangle h3 {
  font-size: 1.125rem;
  line-height: 3.5625rem;
}
.winningNo .box-rectangle {
  min-height: 5rem;
}
.winningNo .box-rectangle h3 {
  font-size: 1.125rem;
  line-height: 5.875rem;
}
